
.about-session {
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  margin: auto;
}

.about-session::before {
  content: "";
  background-image: url("https://dcs.ug.edu.gh/img/coursedetail.jpeg");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.about-session h1 {
  color: white;
  text-align: center;
  padding-top: 15rem;
  font-size: 2.5rem;
}

.welcome-text {
    margin: auto;
    width: 70%;
    padding: 2rem;
}

.welcome-text  h1 {
    padding: 1rem 0;
    font-size: 2.5rem;
}

.welcome-text p {
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 25px;
}
.responsive-three-columns {
    width: 80%;
    display:flex;
    flex-wrap:wrap;
}

.responsive-three-columns > * {
    width:100%;
    padding:1rem;
}

.responsive-three-columns .card-col {
    width: 30rem;
}

.responsive-three-columns .card-content {
    margin: 2rem 2rem;
}

.responsive-three-columns .card-content h2 {
    margin: 1.5rem 10px;
    font-weight: bolder;
    font-size: 2rem;
}

.container1 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .container1 .column {
    padding: 80px;
    text-align: justify;
  }
  .container1 .column img {
    width: 100%;
    height: 100%;
  }

  .container1 .column p {
    padding: 1rem 0px;
  }
 

  .container2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px;
  }

  .container2 .column {
    padding: 70px;
  }

  .container2 .column img {
    width: 100%;
    height: 100%;
  }

  .container2 .column:nth-child(2) {
    margin: auto;
  }

  .container3 {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin: auto;
  }
  .container3 .column img {
    width: 100%;
    height: 100%;
  }

  .container3 .column {
    padding: 50px;
    text-align: justify;
  }

  @media (max-width: 768px) {
    .container1, .container2 {
      grid-template-columns: 1fr;
    }
    .container3 {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 500px){
    .container3 {
        grid-template-columns: 1fr;
    }

    .welcome-text {
        margin: auto;
        width: 100%;
    }
  }
