.event-session {
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  margin: auto;
}

.event-session::before {
  content: "";
  background-image: url("https://images.yen.com.gh/images/97cbcbe23dc33bc6.png?imwidth=900");
  background-size: cover;
  background-position: center top;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.event-session h1 {
  color: white;
  text-align: center;
  padding-top: 15rem;
  font-size: 2.5rem;
}

.iframe-video {
    padding-bottom:56.25%; 
    position:relative;
    display:block; 
    width: 100%
}

.iframe-video iframe {
    position:absolute;
     top:0; 
     left: 0
}

.event-starter {
    width: 100%;
    text-align: center;
    color: darkblue;
}

.lectures {
    width: 100%;
    text-align: center;
}

.lectures h1 {
    font-weight: bolder;
    color: darkblue;
    padding: 1.5rem 0;
}

.lectures-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lectures-row .column {
   padding: 40px;
}
.lectures-row p {
    padding: 1rem 0;
}

.lectures-row a {
    text-decoration: none;
}


.container-events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
    padding: 10px;
  }

  .container .event {
    margin-top: 2rem;
  }



  .event {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .event img {
    width: 100%;
    object-fit: cover;
  }

 

  .event-details {
    margin-bottom: 15px;
  }

  .event-date {
    color: #555;
  }

  .event-btn {
    margin: auto;
  }

 .event-btn {
    text-align: center;
    font-size: 25 px;
    margin: 2rem;
 }

 .event-btn a {
    text-decoration: none;
 }
 .event-btn a i {
     margin: 0 5px;
 }

  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }



@media screen and (max-width: 800px){
    .container1 {
        flex-direction: column;
    }
}